.errorMessage{
 background-position: 8px 4px;
 background-repeat: no-repeat;
 background-color: rgba(255, 229, 238, 1);
 background-image: url(../static/padlockred.svg);
 background-size: 25px;
 color: #c00;
 padding: 10px 10px 10px 45px; 
 border: 2px solid rgb(215 0 0);
 border-radius: 10px;
 width: 500px;
 height: auto;
 margin-top: 10px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
}

#liveboxContainer{
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 500px;
    height: auto;
}

#livebox{
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #333 !important;
    line-height: 1.625 !important;
    background-color: #fff !important;
    background-image: url( //addsearch.com/logo/AAAAAA-20.png ) !important;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border: 2px solid rgb(238, 238, 238) !important;
    border-radius: 4px !important;
    width: 500px !important;
    padding: 15px !important;
    cursor: auto !important;

}

/* ul li::before {
    content: "🟢";
    font-size: 5px;
} */

.profileAvatar {
    border-style: solid;
    border-width: 5px;
    border-image: radial-gradient(rgb(0,143,104), rgb(250,224,66)) 5;
    }

ul{
    list-style-type: none;
}

#attentionMessage{
    background-image: url(../static/clown.svg);
}