<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../static/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/new_common.css" />
        <link rel="icon" type="svg+xml" href="../static/logo1.svg" />
    </head>
    <title>Player Stalker</title>
    <body>
        <a id="githubLink" href="https://github.com/radekaadek/szukaj-id"></a>
        <img id="serviceLogo" src="../static/logo text.svg" />
        <h1>Type a username to search someones stats!</h1>
        <div class="web-search">
            <div class="web-search-inner-container">
                <span class="web-search-logo-container"><span class="web-search-logo shiny"></span></span>
                <div class="suggestion-input-container"><input id="webSearchInput" autocomplete="off" incremental="" placeholder="Type here..." tabindex="2000" type="search" /></div>
                <button class="web-search-submit" tabindex="2000" type="submit">Szukaj</button>
            </div>
        </div>
        {%block content %} {%endblock%}
        <div class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
    </body>
</html>
