<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/new_common.css">
    <link rel="icon" type="svg+xml" href="../static/favicon.svg">
</head>
<title>Search your username!</title>
<body> 
    <a id="githubLink" href="https://github.com/"></a>
    <h1>Type a username to search someones stats!</h1>
    <div id="centerContainer"><input type="text" id="poleTxt"></input></div>
{%block content %}
{%endblock%}
</html>