<!DOCTYPE html>
<html lang="pl" style="background: url(../static/animatedBackground.gif);">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="svg+xml" href="../static/logo1.svg" />
        <title>AGROURSUS - PIT</title>
    </head>
    <body>
        <audio controls="" autoplay="" style="display: none;">
            <source src="../static/bruh.aac" type="audio/aac" />
            Your browser does not support the audio element.
        </audio>
        <script>setTimeout(()=>{window.location.replace("../")}, 50000);</script>
    </body>
</html>
